<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let venda of vendas">
    <h2>{{ venda.data | date:'dd/MM/yyyy HH:mm' }}</h2>
    <ion-list *ngFor="let pacote of venda.pacotes">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="pacote.pacote.imagem" />
        </ion-avatar>
        <h2>{{ pacote.pacote.titulo }}</h2>
        <h3>R$ {{ pacote.pacote.valor }}</h3>
        <ion-badge item-end>{{ pacote.quantidade }}</ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
